@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 39px;
    height: 69px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index:2;
    background:url(../images/arrow-btn.png) no-repeat;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity:0.6;
}
.slick-prev
{
    left: 0px;
    background-position:left center;
}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
    background-position:left center;
}
.slick-next
{
    right: 0px;
    background-position:right center;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0px;
    background-position:right center;
}

/* Dots */
.slick-slider
{
    margin-bottom: 20px;
}

.slick-dots
{
    position: absolute;
    bottom: -36px;
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    list-style:none;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: '';
    text-align: center;
    background:noen;
    border:2px solid #FFF;
    border-radius:50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:border-box;
    opacity:0.6;
}
.slick-dots li.slick-active button:before
{
    background:#FFD900;
    opacity:1;
}
@media only screen and (max-width: 1002px){
    .slick-dots{
        bottom:20px;
    }
}